img:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px #ff0505;
  -moz-box-shadow:    0px 0px 30px 0px #ff0505;
  box-shadow:         0px 0px 30px 0px #ff0505;
}


.box d {

    background-color: blue;;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    color: #b04141;
    display: block;
    padding-top: 0.25rem;
    padding-left: 0.25rem;

}

.flow{
  max-width: 600px;
  background: transparent;
  height: 40px;
  text-align: right;
}

.marquee {
  background: red;
  white-space: nowrap;
  -webkit-animation: rightThenLeft 10s linear;
}

.flow p {
  font-size: 2rem;
  color: darkred;
  font-family: 'Sedgwick Ave', cursive;
}

body {
  margin: 40px;
  background-color: #330000;
  background: #d15b81;
}

#red {
  color: red;
}

#green {
  color: green;
}

#orange {
  color: orange;
}

#blue {
  color: blue;
}

h1 {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  text-decoration: underline;
  color: gold;
  height: 34%;
  font-size: 3rem;
}

.header h2 {
  text-align: center;
}

img {
  width: auto;
  max-width: 30%;
  height: auto;
  border-radius: 10%;
}

img {
    width: 100%;
    max-width: 30%;
    height: auto;
}

p {
  color: darkred;
}

.content p {
  padding: 20px;
  color:#5a4242;
  font-family: ranga, cursive;
}

.content img {
    border-radius: 50%;
    align-self: center;
    height: auto;
    width: auto;
    max-width: 30%;

}

h2 {
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  width: 246px;
  height: 41%;
  color: #fff;
  font-size: 29px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #e11111, #ffeb3b, #03a9f4);
      background-size: auto auto;
  background-size: 300%;
  z-index: 1;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  display: initial;
}

h2:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

h2:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

h2:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}




/*NAVBAR STYLES*/
/*
.navbar {
  color: white;
}

  .navbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .navbar ul li {
    float: left;
    width: 470px;
    height: 65px;
    background-color: transparent;
    opacity: .8;
    line-height: 40px;
    text-align: center;


  }

  .navbar ul li a {
    text-decoration: none;
    color: yellow;
    display: block;
  }

  .navbar ul li ul li {
    display: none;
  }

  .navbar ul li:hover ul li {
    display: block;
  }*/

  /*h2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 200%;
    z-index: 1;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
  }

  h2:hover {
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

  /*h2:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }

  h2:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }


/*NAVBAR*/

/*body {
  color: red;
  font-family: arial;
}
*/
.navbar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
}

.navbar ul li {
  float: left;
  width: 23%;
  height: 50px;
  background-color: black;
  opacity: .8;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.navbarul li a {
  text-decoration: none;
  color: red;
  display: block;

}

.navbar ul li:hover {
  background-color: yellow;

}

.navbar ul li ul li {
  display: none;
  width: 100%;
}

.navbar ul li:hover ul li {
  display: block;
}

.sidebar {
        grid-area: sidebar;
}

.sidebar li {
  font-size: 24px;
  color: #0043ff;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
    text-align: center;
    
    padding-top: 30px;
}

.header {
    grid-area: header;
    height: -moz-max-content;
}

.footer {
    grid-area: footer;
    color: black;
    background-color: darkred;
}

.wrapper {
    background-color: transparent;
    color: #444;
    border-radius: 37%;
}

.sidebar2 {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 65%;
}


/*Mobile view*/
.wrapper {
display: grid;
grid-gap: 1em;
grid-template-areas:
 "header"
 "sidebar"
 "content"
 "sidebar2"
 "footer";
/*! border-radius: 19%; */
}
/*Tablet view*/
/*@media only screen and (min-width: 500px)  {
  .wrapper {

    grid-template-columns: 20% auto;
    grid-template-areas:
    "header   header"
    "sidebar  content"
    "sidebar2 sidebar2"
    "footer   footer";
}

.header {
  width: 70%;
}

  

  .sidebar2 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  color: #444;
  }

  .sidebar li {
    display: none;
  }



  .footer {
    color: darkred;
    text-align: center;
  }

  h2 {
    top: 50%;
    left: 50%;
    transform: translate(317%,-50%);
    width: 246px;
    height: 150px;
    color: #fff;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: auto auto;
    background-size: 300%;
    z-index: 1;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
  }

  h2:hover {
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

  h2:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }

  h2:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }


}

/*Desktop view*/
/*@media only screen and (max-width: 800px)   {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 272px auto 230px;
    grid-template-areas: "header header header" 
                         "sidebar content sidebar2"
                         "footer footer footer";
    max-width: 1200px;
  }
}

.navbar ul li {
  float: left;
  width: 25%;
  height: 50px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.box {
  color: grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  padding-top: 0px;
}

.header {
  height: 500px;
}

.header,
.footer {
  background-color: #999;
  padding-top: 35px;

}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}

.sidebar li {
  font-size: 100%;

}

.footer {
  color: darkred;
}


@media only screen and (min-width: 1332px)  {
    .wrapper {

        grid-template-columns: 20% auto;
        grid-template-areas:
        "header   header"
        "sidebar  content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
    

    .sidebar2 {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
    color: #444;
  }

  .footer {
    color: darkred;
    text-align: center;
  }

  h2 {
    top: 50%;
    left: 50%;
    transform: translate(235%,-50%);
    width: 246px;
    height: 150px;
    color: #fff;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: auto auto;
    background-size: 300%;
    z-index: 1;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
  }

  h2:hover {
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

  h2:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }

  h2:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }


}

@media only screen and (max-width: 1266px) {
  .content p {
    font-size: 50%;
  }
}

@media only screen and (min-width: 650px)  {
  .wrapper {

      grid-template-columns: 20% auto;
      grid-template-areas:
      "header   header"
      "sidebar  content"
      "sidebar2 sidebar2"
      "footer   footer";
  }
  

  .sidebar2 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  color: #444;
}

.footer {
  color: darkred;
  text-align: center;
}

h2 {
  top: 50%;
  left: 50%;
  transform: translate(235%,-50%);
  width: 246px;
  height: 150px;
  color: #fff;
  font-size: 29px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
      background-size: auto auto;
  background-size: 300%;
  z-index: 1;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
}

h2:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

h2:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

h2:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}


}